*{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;

}

body{
  width: 100%;
  flex-direction: column;
  margin: 1;

}
header{
  background-color: red;
  height: 10vh;
  width: 100%;
  padding: 0 2px;
}
.logo{
  width: 20%;


}
nav{
  width:80%;
  align-items: center;
  justify-content: flex-end;
  height:100%;

}
.pestaña{
  width: 20%;
  height: 100%;
  margin: 0 1%;
  background-color: grey;
}

main{
  width: 100%;
  height: 80vh;
  background-color: orange;
  flex-direction: column;
}
.seccion {
  width: 100%;
  height: 50%;
  background-color: blue;

}

#banner {
  background-color: green;
  height: 70vh;
}

#galeria {

  flex-wrap:wrap;
  margin: 2% 0;
  flex-direction: row;


}

article{
  width: 40%;
  background-color: darkgrey;
  height: 50px;
  margin: 0.5%;
  display: flex;
}



footer{
  background-color: green;
  height: 13vh;
  width: 100%;
}

@media screen and (max-width:500px) {
  .logo{
    background-color: white;
    width: 50%;
    height: 100%;
  }
  article{
    background-color: brown;
    width: 100%;
    height: 20px;
    margin: 0,2%;
    display:  block;

  }
  header{
    height: 8vh;
  }
}
